@font-face {
    font-family: 'MotiraItalic';
    src: url(../fonts/MotiraItalic.ttf);
}
	@font-face {
	font-family:'Summer';
	src:url(../fonts/SummersVictoryOverSpring-TTF.ttf);
	
}


.title{


  font-size: 50px;
  font-weight:bolder;
  font-family: 'MotiraItalic';
  margin-bottom:50%;

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height:20%; 
   font-size: 50px;
  margin-bottom:5%;
  margin-top:9%; 
  background-color:#fff; 

  }

@media (min-width: 576px) {
  .container {
    max-width: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

}


/*Borda da foto do perfil*/
.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}


.main {
 background-image:url('../imagens/nuvem.jpg');
  position: relative;
  margin-bottom:5%;
  z-index: 3;
}






/*CAPA DE FUNDO*/

.header-filter {
  position: relative;
}

.header-filter:before,
.header-filter:after {
  
  z-index: 1;
  width: 100%;
  height: 100%;
  
  left: 0;
  top: 0;
  content: "";
}




/*NÃO APAGAR!!!!!!! ALINHAMENTO DO PERFIL*/
.profile-page .page-header {
  height: 380px;
  background-position: top center;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

/*postagens*/

.icon {
  width: 64px;
  margin-left: 6%;
  border-radius: 40px;
  margin-bottom: 10px;

}

.portlet-body h2{
 
  text-align:justify;
   font-size: 35px;

}

.portlet-body p{
  text-align:justify;

  font-size:50px;

}

.portlet-body img{
  width:100%;
  height:100%;
  top:50%;
  left:50%;
  margin-top:-5px;
  margin-left:-5px;
}

/* Portlet */
.portlet {
background: #fafafa;
margin: 20px;

font-size: 10px;
margin-bottom: 70px;
position: relative;
box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5), 0 4px 11px -3px rgba(0,0,0,0.25);
}



/* Portlet Title */
.portlet-title {
padding: 0;
min-height: 100px;
font-family:'Summer';
margin-bottom: 50px;


}

.caption {
float: left;
display: inline-block;
font-size: 50px;

position: relative;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
color: #4db3a2;
font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
color: #ce5585 ;
font-weight: 200;
}



.caption.caption-purple .caption-subject,
.caption.caption-purple i {
color: #8775a7;
font-weight: 400;
}

.caption i {
color: #777;
font-size: 15px;
font-weight: 300;
margin-top: 3px;
}

.caption h5{
  margin-top: -60px;
  margin-left:100px;
}

.caption p{
  margin-top:9px;
  margin-left:90px;
  font-size: 10px;
}



.caption-subject {
color: #666;
font-size: 16px;
font-weight: 600;
}



.caption-helper {
padding: 0;
margin-left: 70%;
line-height: 70px;
color: #9eacb4;
font-size: 13px;
font-weight: 400;
}

/* Actions */
.actions {
float: right;
display: inline-block;
}

.actions a {
margin-left: 3px;
}

.actions .btn {
color: #666;
padding: 3px 9px;
font-size: 13px;
line-height: 1.5;
background-color: #fff;

border-radius: 50px;
}

.actions .btn i {
font-size: 12px;
}




/* Tab */
.portlet-title > .nav-tabs {
background: none;
margin: 0;
float: right;
display: inline-block;
border: 0;
}

.portlet-title > .nav-tabs > li {
background: none;
margin: 0;
border: 0;
}

.portlet-title > .nav-tabs > li > a {
background: none;
border: 0;
padding: 2px 10px 13px;
color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
border-bottom: 4px solid #f3565d;
position: relative;
}

.portlet-title > .nav-tabs > li:hover {
border-bottom: 4px solid #f29b9f;
}

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
color: #333;
background: #fff;
border: 0;
}

/* Btn Circle */
.actions .btn.btn-circle {
width: 28px;
height: 28px;
padding: 3px 7px;
text-align: center;
}

.actions .btn.btn-circle i {
font-size: 11px;
}

/* Btn Grey Salsa */
.actions .btn.grey-salsa {
border: none;
margin-left: 3px;
box-shadow: none;
border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
color: #fafcfb;
background: #8e9bae;
}
.actions .grey-salsa.btn:hover,
.actions .grey-salsa.btn:focus,
.actions .grey-salsa.btn:active,
.actions .grey-salsa.btn.active {
color: #fafcfb;
background: #97a3b4;
}

/* Btn Red */
.actions .btn.btn-red.active,
.actions .btn.btn-red:hover {
color: #fff;
box-shadow: none;
background: #e26a6a;
border-color: #e26a6a;
}

/* Btn Red */
.actions .btn.btn-purple.active,
.actions .btn.btn-purple:hover {
color: #fff;
box-shadow: none;
background: #8775a7;
border-color: #8775a7;
}


/*comentario*/

button{
  background-color: #ce5585;
  color: #ffffff;
}

hr{
  margin-left: 15%;
}

.iconn {
  width: 64px;
  border-radius: 40px;
  margin-bottom: 90px;

}


.panel-body form{
  margin-left: -30%;
  margin-right: -30%;
  margin-top: -60%;
}

.clear p{
  text-align: left;
  margin-top:-10px;
  margin-left:4px;
  font-size: 10px;
}

.clear h5{
  margin-top: -15px;
  margin-left:13px;
}

.clear h6{
  margin-top: 15px;
  margin-left:13px;
}
