*{
  padding: 0;
  margin: 0;
}

 /* Portlet */
                    .portlet {
                    background: #fff;
                    padding: 20px;
                    }

                    .portlet.portlet-bordered {
                    border: 1px solid #eee;
                    }

                    /* Portlet Title */
                    .portlet-title {
                    padding: 0;
                    min-height: 100px;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 60px;

                    }

                    .caption {
                    float: left;
                    display: inline-block;
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 60%;

                    }

                    .caption.caption-green .caption-subject,
                    .caption.caption-green i {
                    color: #4db3a2;
                    font-weight: 200;
                    }

                    .caption.caption-red .caption-subject,
                    .caption.caption-red i {
                    color: #e26a6a;
                    font-weight: 200;
                    }

                    .caption.caption-purple .caption-subject,
                    .caption.caption-purple i {
                    color: #8775a7;
                    font-weight: 400;
                    }

                    .caption i {
                    color: #777;
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 3px;
                    }

                    .caption h6{
                      margin-top: -130px;
                      margin-left:150%
                    }

                    .caption-subject {
                    color: #666;
                    font-size: 16px;
                    font-weight: 600;
                    }

                    .caption-helper {
                    padding: 0;
                    margin-left: 70%;
                    line-height: 70px;
                    color: #9eacb4;
                    font-size: 13px;
                    font-weight: 400;
                    }

                    /* Actions */
                    .actions {
                    float: right;
                    display: inline-block;
                    }

                    .actions a {
                    margin-left: 3px;
                    }

                    .actions .btn {
                    color: #666;
                    padding: 3px 9px;
                    font-size: 13px;
                    line-height: 1.5;
                    background-color: #fff;
                    border-color: #ccc;
                    border-radius: 50px;
                    }

                    .actions .btn i {
                    font-size: 12px;
                    }

                    .actions .btn:hover {
                    background: #f2f2f2;
                    }


                    /* Tab */
                    .portlet-title > .nav-tabs {
                    background: none;
                    margin: 0;
                    float: right;
                    display: inline-block;
                    border: 0;
                    }

                    .portlet-title > .nav-tabs > li {
                    background: none;
                    margin: 0;
                    border: 0;
                    }

                    .portlet-title > .nav-tabs > li > a {
                    background: none;
                    border: 0;
                    padding: 2px 10px 13px;
                    color: #444;
                    }

                    .portlet-title > .nav-tabs > li.active,
                    .portlet-title > .nav-tabs > li.active:hover {
                    border-bottom: 4px solid #f3565d;
                    position: relative;
                    }

                    .portlet-title > .nav-tabs > li:hover {
                    border-bottom: 4px solid #f29b9f;
                    }

                    .portlet-title > .nav-tabs > li.active > a,
                    .portlet-title > .nav-tabs > li:hover > a {
                    color: #333;
                    background: #fff;
                    border: 0;
                    }

                    /* Btn Circle */
                    .actions .btn.btn-circle {
                    width: 28px;
                    height: 28px;
                    padding: 3px 7px;
                    text-align: center;
                    }

                    .actions .btn.btn-circle i {
                    font-size: 11px;
                    }

                    /* Btn Grey Salsa */
                    .actions .btn.grey-salsa {
                    border: none;
                    margin-left: 3px;
                    box-shadow: none;
                    border-radius: 50px !important;
                    }

                    .actions .btn.grey-salsa.active {
                    color: #fafcfb;
                    background: #8e9bae;
                    }
                    .actions .grey-salsa.btn:hover,
                    .actions .grey-salsa.btn:focus,
                    .actions .grey-salsa.btn:active,
                    .actions .grey-salsa.btn.active {
                    color: #fafcfb;
                    background: #97a3b4;
                    }

                    /* Btn Red */
                    .actions .btn.btn-red.active,
                    .actions .btn.btn-red:hover {
                    color: #fff;
                    box-shadow: none;
                    background: #e26a6a;
                    border-color: #e26a6a;
                    }

                    /* Btn Red */
                    .actions .btn.btn-purple.active,
                    .actions .btn.btn-purple:hover {
                    color: #fff;
                    box-shadow: none;
                    background: #8775a7;
                    border-color: #8775a7;
                    }


body{
  overflow-x: hidden;
  background-color:#fafafa;
}


.teste{
	font-family: "MotiraItalic";
}



@font-face {
    font-family: 'MotiraItalic';
    src: url('../fonts/MotiraItalic.eot');
    src: url('../fonts/MotiraItalic.eot') format('embedded-opentype'),
         url('../fonts/MotiraItalic.woff2') format('woff2'),
         url('../fonts/MotiraItalic.woff') format('woff'),
         url('../fonts/MotiraItalic.ttf') format('truetype'),
         url('../fonts/MotiraItalic.svg#MotiraItalic') format('svg');
}



.bg-pink{   /*gradient*/
  background: linear-gradient(#EE82EE,#1E90FF,#DDA0DD);
}


.logom{   /* logo */
    width:60px;
    height:60px;
    float:left;
    font-size:0;
    font-size:0;
    margin-left: 80%;
}

.navbar-outro span{   /*botao menu responsivo  */
  background-color: #f18cb4;
}

.navbar-nav li a:hover{   /* hover nas palavras do menu  azul*/
  color: #4b93c6 ;
  text-decoration:none;

}

.navbar-nav li a{   /* cor nas palavras do menu rosa */
  color: #ce5585 ;
  margin-top: 20px;
  font-size: 15px;
  font: normal 25px/25px "MotiraItalic";

}

.navbar-outro .navbar-nav li a:hover {  /* deixar o background do menu responsivo transparent */
    background-color: transparent;
    background-image: none;
}

.navbar-outro {        /*  trazendo o menu um pouco mais pra esquerda */

  background-color:#fafafa;
  color: #fff;
  border-color:#ccc;
}



.navbar-outro ul{        /*  trazendo o menu um pouco mais pra esquerda */

margin-right: 40px;
}


.sidebar {  /* efeito da esquerda pra direita menu responsivo */
	position: absolute;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 8;
	top: 0;
	margin-left: -250px;
}

/* postagem */

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;

}
.shadow-textarea{
  width: 65%;
  margin-left: 30%;
  margin-top: -9%;
}

/*buttons postagem*/

.form-group li{
  display: inline-block;
  margin-right: 10px;

}

.form-group ul{
  margin-left: -15%;
  margin-top: 2%;
}

.form-group button{
  display: inline-block;
  margin-left: 72%;
  margin-top: -20%;
  color:#000000;
  border-color: #000000;


}

.form-group button {
  color:#000000;
  background-color: #FFFFFF;
  text-decoration:none;
}

.form-group button a {
  color:#000000;
  text-decoration:none;
}

.form-group button:hover{
  background-color: #000000;
  color:#FFFFFF;
  text-decoration:none;


}

.form-group button a:hover{
  color:#FFFFFF;
  background-color: #000000;

}

form {
  padding-left: 28%;
  padding-right: 29%;
  border-radius: 5px;
  border-color: red;
}

.form-control{
  border-radius: 5px;
  height:20%;
  margin-top: 20%;

}
.avatar {
  width: 64px;
  margin-left: 6%;
  border-radius: 40px;
}

.form-group textarea{
  margin-left: -15%;
  margin-top:5%;

}

.icon {
  width: 64px;
  margin-left: 6%;
  border-radius: 40px;
  margin-bottom: 90px;

}


/* responsivo em mobile*/
@media screen and (max-width: 480px) {
.logom {
  width:50px;
  height:50px;
  float:right;
  font-size:0;
  font-size:0;
  margin-right:30%;
}

.navbar-outro span{
  margin-top: 60%;
  margin-left:100%;
  width:50px;
  height:50px;
}

.navbar-nav li a{
  color: #f18cb4;
  margin-top: 20px;
  font-size: 15px;
  font: 400 15px Lato, sans-serif;

}

.navbar-nav li a:hover{
  color: #4b93c6;
  text-decoration:none;

}

}

@media screen and (max-width:768px){
  .banner{
      background-image: url(../imagens/banner_home2.jpg);
      position: fixed;
      height:100%;
      width: 100%;
      overflow-y: scroll;
  }



  .space-medium{
    margin-top: 20%;

  }

  .logom {
    width:50px;
    height:50px;
    float:right;
    font-size:0;
    font-size:0;
    margin-left:20px;
    margin-top: 5%;

  }

  .navbar-outro span{
    margin-top: 60%;
    margin-left:100%;
    width:50px;
    height:50px;
    margin-bottom:15%;
  }

  .navbar-nav li a{
    color: #ce5585;
    margin-top: 20px;
    font-size: 15px;
    font: 400 15px Lato, sans-serif;

  }

  .navbar-nav li a:hover{
    color: #94cbf2 ;
    text-decoration:none;

  }


.navbar-outro .navbar-nav li a:hover {
      background-color: #FFFFFF;
      background-image: none;
}
}
